---
layout: default
title: Bолонтерське об'єднання <br> "Lastivka"
description: " "
navigation_text: На головну
navigation_link:
---
<div class="container about">
    <p>Волонтерське об'єднання "Lastivka" знаходиться в Черкаському районі с. Хацьки. Ми вже <span class="bold" id="months">13</span> місяців плетемо професійне маскування з високоякісних матеріалів. Для основи купуємо капронову нитку товщиною 1,8 мм, плетемо лише флізеліном з піксельним малюнком та захистом від сонячних променів. За цей час виготовили <span class="bold" data-value="480" id="net_count">480</span> маскувальних сіток різного розміру, загальною площею більше <span class="bold" data-value="17000" id="area">17 000</span> м². Співпрацюємо з представниками багатьох бригад ЗСУ та маскуємо танки, автомобільну техніку, зброю, ППО, в тому числі і IRIS-T, засоби зв'язку і т.д. Працюємо на волонтерських засадах напряму з представниками ЗСУ!!! Намагаємося допомагати всім збройникам, які до нас звертаються та мають потребу в маскувальних сітках.</p>
    <p>Сітки передаємо <b>БЕЗКОШТОВНО!</b> Для продажу не виготовляємо!</p>
    <p>Для замовлення маскувальних сіток звертатися до Миколенко Тетяни <a class="phone" href="tel:+38 (097) 127-76-67">+38 (097) 127-76-67</a> (вайбер, сигнал, телеграм).</p>
    {% include messenger_links.html %}
    <p>Якщо ви бачите цей сайт і маєте бажання допомогти нам з покупкою вартісних, але дуже якісних матеріалів для виготовлення маскувальних сіток, то будемо дуже вдячні ❤️ Лише завдяки коштам небайдужих ми можемо маскувати наших котиків.</p>
    <p id="bank-details">Реквізити для донатів на покупку матеріалів з яких виготовляємо маскувальні сітки:</p>
    {% include account_details.html %}
    {% include awards.html %}
    <p class="text-align-center">
        Зворотня доставка: Нова пошта, віділення 29, м. Черкаси, Миколенко Тетяна Анатоліївна <a class="phone" href="tel:+38 (097) 127-76-67">+38 (097) 127-76-67</a>
    </p>
</div>
