<h2 class="text-align-center text-bold">Захисники дякують</h2>
<section class="splide awards" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
    <ul class="splide__list">
      {%- for image in site.static_files -%}
        {%- capture path -%}images/awards/big/{%- endcapture -%}
        {%- if image.path contains path -%}
          <li class="splide__slide">
            <a href="{{ site.baseurl }}{{ image.path }}">
              <img loading="lazy" src="{{ site.baseurl }}{{ image.path | replace: 'big', 'small'}}" alt="award_{{ image.basename }}"/>
            </a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</section>
<script type="text/javascript">
  var lightbox = new PhotoSwipeLightbox({
    gallery: '.splide__list',
    children: 'a',
    crop: false,
    bgOpacity: 0.9,
    zoom: false,
    counter: false,
    initialZoomLevel: 'fill',
    secondaryZoomLevel: 'fill',
    tapAction: 'close',
    pswpModule: PhotoSwipe
  });
  lightbox.init();
</script>