<h3 class="text-align-center text-bold">Ми в соцмережах</h3>
<div class="text-align-center">
  <a href="https://www.instagram.com/lastivka_volonter" class="sl-img-link sl-instagram" target="_blank" rel="noreferrer">&nbsp;</a>
  <a href="https://www.facebook.com/komawka" class="sl-img-link sl-facebook" target="_blank" rel="noreferrer">&nbsp;</a>
  <a href="https://www.tiktok.com/@tanya_mikolenko" class="sl-img-link sl-tiktok" target="_blank" rel="noreferrer">&nbsp;</a>
  <a href="https://youtube.com/@Iastivka_volonter/shorts" class="sl-img-link sl-youtube" target="_blank" rel="noreferrer">&nbsp;</a>
</div>