.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  & > li {
    height: 300px;
    cursor: pointer;
    position: relative;
    flex: 1 1 auto;

    img {
      object-fit: cover;
      width: 100%;
      min-width: 358px;
      min-width: min(358px, 100vw - 2rem);
      height: 300px;
      vertical-align: middle;
      border-radius: 5px;
    }
  }
}