/*Overwrite Lightbox*/
.sl-overlay {
  background: black;
}
.sl-wrapper .sl-navigation button {
  color: white;
}
.sl-wrapper .sl-close {
  color: white;
}
.sl-wrapper .sl-counter {
  color: white;
}
/*Overwrite Lightbox*/

html {
  scroll-behavior: smooth;
}

.project-name a { color: white; }
.project-name a:hover, .phone:hover { text-decoration: none; }
.phone {
  font-weight: bold;
  white-space: nowrap;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-gallery > li {
  height: 300px;
  cursor: pointer;
  position: relative;
  flex: 1 1 auto;
}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  min-width: 358px;
  height: 300px;
  vertical-align: middle;
  border-radius: 5px;
}

ul {
  margin:0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
li {
  margin:0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.btn {
  color: gold;
}
/*Button with icon*/
.btn.mono {
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  color: white;
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s;
}

.btn.icon.mono:not(.copy) {
  padding-left: 0.9rem;
}


.btn.mono:hover {
  text-decoration: none;
  transform: scale(1.03);
}

.btn.icon {
  position: relative;
  padding-left: 2.5rem;
}

.btn.icon svg {
  position: absolute;
  top: 50%;
  height: 1.5rem;
  transform: translateY(-50%);
}

.btn.icon svg.icon-svg {
  left: 0.5rem;
}

.btn.icon svg.icon-copy {
  right: 0.5rem;
}

.btn.icon.copy {
  text-align: left;
}

.btn.icon.copy .copy-text {
  position: absolute;
  right: 2.5rem;
}

/*Button with icon*/

dl.bank-details dd {
  margin: 0 0 1em;
}

dl.bank-details dt {
  margin: 0 0 0.2em;
  text-align: center;
}

dl.bank-details .btn {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

/*Scroll to top button*/

#stickyBottom {
  position: sticky;
  bottom: 35px;
  margin-top: -70px;
  height: 70px;
  pointer-events: none;
  text-align: right;
  float: right;
  padding: 0 10px;
  z-index: 100;
}
#goToTop {
  display: none;
  margin: 0 15px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: rgb(253, 195, 41);
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  box-shadow: rgba(253, 195, 41, 0.61) 0px 4px 16px 0px;
  cursor: pointer;
  z-index: 1100;
  pointer-events: auto;
}
.modal-open #goToTop {
  display: none !important;
}

#goToTop > svg > path {
  stroke: black;
}
/*Scroll to top button*/