<!DOCTYPE html>
<html lang="{{ site.lang | default: "uk_UA" }}">
<head>
    {% include head-custom.html %}
    <meta charset="UTF-8">
    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">
    {%- if page.url == "/" -%}
    <link rel="stylesheet" href="/assets/css/splide-sea-green.min.css">
    <script src="/assets/js/splide.min.js"></script>
    <script src="/assets/js/simple-lightbox.min.js"></script>
    <link rel="stylesheet" href="/assets/css/simple-lightbox.min.css">
    <script src="/assets/js/index.js"></script>
    {%- endif -%}

    {%- if page.url == "/contacts/" -%}
    <link rel="stylesheet" href="/assets/css/splide-sea-green.min.css">
    <link rel="stylesheet" href="/assets/css/photoswipe.css">
    <script src="/assets/js/splide.min.js"></script>
    <script src="/assets/js/photoswipe-lightbox.umd.min.js"></script>
    <script src="/assets/js/photoswipe.umd.min.js"></script>
    <script src="/assets/js/about.js"></script>
    {%- endif -%}

    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJK38QXJ"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<a id="skip-to-content" href="#content">Skip to the content.</a>

<header class="page-header" role="banner">
    <div class="toggle-wrapper">
        <div class="header-wrap">
            <div>
                <button class="toggle-btn" id="burger-menu" role="button" aria-label="Menu">
                    <span></span>
                </button>
            </div>
            <div class="logo-item">
                <img src="/assets/images/lastivka.jpg" class="small-logo" alt="lastivka-logo">
            </div>
        </div>
        <div class="toggle__content">
            <div>
                <ul role="menu" class="header__list">
                    <li role="menuitem">
                        <a href="/" class="reset-link" aria-label="Main page" role="link">Головна</a>
                    </li>
                    <li role="menuitem">
                        <a href="/contacts#bank-details" class="reset-link" aria-label="Account details" role="link">Реквізити</a>
                    </li>
                    <li role="menuitem">
                        <a href="/contacts" class="reset-link" aria-label="About us" role="link">Про нас</a>
                    </li>
                    <li role="menuitem">
                    {% include messenger_links.html %}
                    </li>
                    <li role="menuitem">
                    {% include social_media.html %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a href="/" class="logo">
      <img src="/assets/images/lastivka.jpg" alt="lastivka-logo">
    </a>
    <h1 class="project-name"><a href="/">{{ page.title | default: site.title | default: site.github.repository_name }}</a></h1>
    {%- if page.url != "/" -%}
        <div class="numbers-block">
            <div>
                <span id="area-count">56000</span> м²
            </div>
            <div>
                <span id="net-count">1600</span> шт
            </div>
        </div>
    {%- endif -%}
    <a href="/{{page.navigation_link}}" class="btn"><b>{{ page.navigation_text }}</b></a>
</header>

<main id="content" class="main-content" role="main">
    {{ content }}

    <footer class="site-footer">
        {%- if page.url == "/" -%}
            <h3 class="text-align-center">Контакти:</h3>
            {% include messenger_links.html %}
        {%- else -%}
            <h3 class="text-align-center text-bold">Ми в соцмережах</h3>
            {% include social_media.html %}
        {%- endif -%}
    </footer>
</main>
<div id="stickyBottom">
    <div id="goToTop">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="13" viewBox="0 0 44.256 25.694">
            <path d="M51.64-4.971,32.583-25.838,13.036-4.971" transform="translate(-10.209 27.838)" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path>
        </svg>
    </div>
</div>
<div class="overlay"></div>
</body>
</html>
