<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">

    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">
    {% if page.url == "/" %}
        <script src="/assets/js/simple-lightbox.min.js"></script>
        <link rel="stylesheet" href="/assets/css/simple-lightbox.min.css">
        <script src="/assets/js/index.js"></script>
    {% else %}
        <link rel="stylesheet" href="/assets/css/splide-sea-green.min.css">
        <link rel="stylesheet" href="/assets/css/photoswipe.css">
        <script src="/assets/js/splide.min.js"></script>
        <script src="/assets/js/photoswipe-lightbox.umd.min.js"></script>
        <script src="/assets/js/photoswipe.umd.min.js"></script>
        <script src="/assets/js/about.js"></script>
    {% endif %}
    <link rel="stylesheet" href="/assets/css/app.css">

    {% include head-custom.html %}
</head>
<body>
<a id="skip-to-content" href="#content">Skip to the content.</a>

<header class="page-header" role="banner">
    <a href="/" class="logo">
      <img src="/assets/images/lastivka.jpg" alt="lastivka-logo">
    </a>
    <h1 class="project-name"><a href="/">{{ page.title | default: site.title | default: site.github.repository_name }}</a></h1>
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    {% if page.url != "/" %}
    <div class="numbers-block">
        <div>
            <span id="area-count">17500</span> м²
        </div>
        <div>
            <span id="net-count">400</span> шт
        </div>
    </div>
    {% endif %}
    <a href="/{{page.navigation_link}}" class="btn"><b>{{ page.navigation_text }}</b></a>
</header>

<main id="content" class="main-content" role="main">
    {{ content }}

    <footer class="site-footer">
        {% if page.url == "/" %}
            <h3 class="text-align-center">Контакти:</h3>
            {% include messenger_links.html %}
        {% else %}
            {% include social_media.html %}
        {% endif %}
    </footer>
</main>
<div id="stickyBottom">
    <div id="goToTop">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="13" viewBox="0 0 44.256 25.694">
            <path d="M51.64-4.971,32.583-25.838,13.036-4.971" transform="translate(-10.209 27.838)" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path>
        </svg>
    </div>
</div>
</body>
</html>